$button-color: #3f8ab5;
.banner {
    background: url(../../../assets/images/andromeda.jpg) no-repeat center fixed;
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.image-background-content {
    position: relative;
    z-index: 2;
}

.push-spaces {
    height: 650px;
}

.text {
    padding-top: 10em;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.buttonContainer {
    margin-top: 75px;
    text-align: center;
}


/* BUTTON CSS
------------------------------------------- */

a.button-start {
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-block;
    font: normal normal 300 1.3em 'Open Sans';
    text-decoration: none;
    color: $button-color;
    brackground-color: transparent;
    border: 1px solid $button-color;
    border-radius: 75px;
    margin: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, $button-color 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

a.button-start:hover {
    color: rgba(255, 255, 255, 1);
    background-color: $button-color;
    background-position: -100% 100%;
}

::ng-deep .custom-dialog>mat-dialog-container {
    background-color: transparent;
    box-shadow: 0 0 black;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

img {
    object-fit: cover;
    cursor: pointer;
}

.img-wrapper {
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-hover-zoom img {
    overflow: hidden;
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: blur(4px);
    filter: brightness(50%)
}

h1 {
    opacity: 0;
    transition: opacity .5s ease;
}

.img-hover-zoom:hover h1 {
    opacity: 1;
}

.scroll-more {
    margin-top: 13rem;
}
