<div class="banner ">
    <div class="image-background-content container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-4">Astroportal</h1>
                <p class="lead mb-0">Discover universe with us</p>
                <div class="buttonContainer">
                    <a class="button-start" (click)="onGetStartedClick()">
                        <span>Get started</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>