.big-icon {
    height: 150px;
    width: 150px;
    stroke-width: 1px;
}

.dropzone {
    width: 100%;
    margin-bottom: 25px;
    height: 35vh;
}

.button {
    display: block;
    width: 100%;
}

.profilePicture {
    width: 100%;
}
