<nav class="navbar bg-dark navbar-dark bg-faded py-3 justify-content-between flex-nowrap flex-row">
    <div class="container">
        <a href="#" class="navbar-brand float-left">
            <img src="../assets/SVGs/mainLogo.svg" width="35" alt="" class="d-inline-block align-middle mr-2">
            <span class="text">Astroportal</span>
        </a>

        <ul class="nav navbar-nav flex-row float-right">
            <li class="nav-item">
                <a class="nav-link pr-3">
                    <i-feather name="search" class="big-icon" style="color: white;"></i-feather>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-3" href="/uploadimage">
                    <i-feather name="camera" class="big-icon" style="color: white;"></i-feather>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-3" (click)="onProfileClick()">
                    <i-feather name="user" class="big-icon" style="color: white;"></i-feather>
                </a>
            </li>
            <span class="form-inline">
              <select
                  class="form-control"
                  #selectedLang
                  (change)="switchLang(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()"
                  [value]="language"
                  [selected]="language === translate.currentLang">
                  {{ language }}
                </option>
              </select>
            </span>
        </ul>

    </div>
</nav>

<router-outlet></router-outlet>