<nav class="navbar navbar-expand-lg bg-dark navbar-dark bg-faded py-3 justify-content-between flex-nowrap flex-row">
    <div class="container ">
        <a href="#" class="navbar-brand float-left">
            <img src="../assets/SVGs/mainLogo.svg" width="35" alt="" class="d-inline-block align-middle mr-2">
            <span class="text">Astroportal</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav navbar-right ">
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link pr-3" href="/messages">
                        <i-feather name="mail" class="big-icon" style="color: white;"></i-feather>
                        <span *ngIf="unReadConversationCount > 0" class=" hide-text" matBadge="{{unReadConversationCount}}" matBadgeSize="small"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="profile-menu">
                        <button mat-icon-button [matMenuTriggerFor]="menuSearch">
                      <i-feather name="search" class="big-icon" style="color: white;"></i-feather>
                    </button>
                        <mat-menu #menuSearch="matMenu">
                            <button mat-menu-item (click)="searchUsersClick()">
                      <mat-icon>person_pin</mat-icon>
                    <span >{{"Search users" | translate}}</span>
              </button>
                            <button mat-menu-item (click)="searchImagesClick()">
                          <mat-icon>photo_camera</mat-icon>
                          <span>{{"Search images" | translate}}</span>
              </button>
                        </mat-menu>
                    </div>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link pr-3" href="/uploadimage">
                        <i-feather name="camera" class="big-icon" style="color: white;"></i-feather>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="profile-menu">
                        <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)="onProfileMenuClick();">
                      <i-feather name="user" class="big-icon" style="color: white;"></i-feather>
                    </button>
                        <button *ngIf="!isLoggedIn" mat-icon-button aria-label="Example icon-button with a menu" (click)="onProfileMenuClick();">
                      <i-feather name="user" class="big-icon" style="color: white;"></i-feather>
                    </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onProfileClick()">
                              <mat-icon>edit</mat-icon>
                            <span>{{"Edit profile" | translate}}</span>
                      </button>
                            <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>{{"Logout" | translate}}</span>
                      </button>
                            <button mat-menu-item (click)="viewProfileClick()">
                        <mat-icon>person_pin</mat-icon>
                        <span>{{"View profile" | translate}}</span>
                      </button>
                        </mat-menu>
                    </div>
                </li>
                <li class="nav-item dark-theme-mode">
                    <mat-form-field class="lang-select">
                        <mat-select [(ngModel)]="nodeType" (selectionChange)="switchLang(nodeType.value)">
                            <mat-select-trigger>
                                <span [innerHTML]="nodeType.iconHtml"></span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let item of nodeTypes" [value]="item">
                                <span [innerHTML]="item.iconHtml"></span>
                                <span> {{ item.description | translate}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li class="nav-item">
                    <div class="theme-change">
                        <i-feather name="sun" class="sun-icon" style="color: white;"></i-feather>
                        <mat-slide-toggle class="dark-mode-picker" [(ngModel)]="isDarkTheme" labelPosition="before" (change)="storeThemeSelection()"></mat-slide-toggle>
                        <i-feather name="moon" class="moon-icon" style="color: white;"></i-feather>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="collapsed-navbar collapse navbar-collapse justify-content-end bg-dark navbar-dark" id="navbarNavDropdown">
    <ul class="navbar-nav navbar-right ">
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link pr-3" href="/messages">
                <i-feather name="mail" class="big-icon" style="color: white;"></i-feather>
                <p class="menu-description"> {{"Messages" | translate}}</p>
            </a>
        </li>
        <li class="nav-item">
            <div class="profile-menu">
                <button mat-icon-button [matMenuTriggerFor]="menuSearch">
          <i-feather name="search" class="big-icon" style="color: white;"></i-feather>
        </button>
                <mat-menu #menuSearch="matMenu">
                    <button mat-menu-item (click)="searchUsersClick()">
          <mat-icon>person_pin</mat-icon>
        <span >{{"Search users" | translate}}</span>
  </button>
                    <button mat-menu-item (click)="searchImagesClick()">
              <mat-icon>photo_camera</mat-icon>
              <span>{{"Search images" | translate}}</span>
  </button>
                </mat-menu>
                <p [matMenuTriggerFor]="menuSearch" class="menu-description cursor-pointer"> {{"Search" | translate}}</p>
            </div>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link pr-3" href="/uploadimage">
                <i-feather name="camera" class="big-icon" style="color: white;"></i-feather>
                <p class="menu-description"> {{"Upload photo" | translate}}</p>
            </a>
        </li>
        <li class="nav-item ">
            <div class="profile-menu">
                <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu" (click)="onProfileMenuClick();">
          <i-feather name="user" class="big-icon" style="color: white;"></i-feather>
        </button>
                <button *ngIf="!isLoggedIn" mat-icon-button (click)="onProfileMenuClick();">
          <i-feather name="user" class="big-icon" style="color: white;"></i-feather>
        </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onProfileClick()">
                  <mat-icon>edit</mat-icon>
                <span >{{"Edit profile" | translate}}</span>
          </button>
                    <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>{{"Logout" | translate}}</span>
          </button>
                </mat-menu>
                <p [matMenuTriggerFor]="menu" (click)="onProfileMenuClick();" class="menu-description cursor-pointer"> Profile</p>

            </div>
        </li>
        <li class="nav-item">
            <mat-form-field class="lang-select">
                <mat-select [(ngModel)]="nodeType" (selectionChange)="switchLang(nodeType.value)">
                    <mat-select-trigger>
                        <span [innerHTML]="nodeType.iconHtml"></span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let item of nodeTypes" [value]="item">
                        <span [innerHTML]="item.iconHtml"></span>
                        <span> {{ item.description | translate}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p class="menu-description"> {{"Language change" | translate}}</p>

        </li>
        <li class="nav-item theme-change-mobile">
            <mat-slide-toggle class="dark-mode-picker-dropdown" [(ngModel)]="isDarkTheme" labelPosition="before" (change)="storeThemeSelection()"></mat-slide-toggle>
            <p class="menu-description"> {{"Dark mode" | translate}}</p>

        </li>
    </ul>
</div>

<router-outlet></router-outlet>
