.banner {
    background: url(../assets/images/andromeda.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.push-spaces {
    height: 550px;
}

.text {
    padding-top: 10em;
}

.jumbotron {
    border-radius: 0%;
}

.big-icon {
    height: 30px;
    width: 30px;
    stroke-width: 1px;
}

::ng-deep .custom-dialog>mat-dialog-container {
    background-color: transparent;
    box-shadow: 0 0 black;
}

.mat-app-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lang-select {
    width: 50px;
}

.collapsed-navbar {
    padding-left: 2rem;
}

.menu-description {
    display: inline;
    font-size: 17px;
    padding-left: 1rem;
}

.dark-mode-picker {
    padding-top: 1rem;
}

.dark-mode-picker-dropdown {
    padding-bottom: 40px;
}

.nav-link {
    cursor: pointer;
}
