.banner {
    background: url(../assets/images/andromeda.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.push-spaces {
    height: 550px;
}

.text {
    padding-top: 10em;
}

.jumbotron {
    border-radius: 0%;
}

.big-icon {
    height: 30px;
    width: 30px;
    stroke-width: 1px;
}

::ng-deep .custom-dialog>mat-dialog-container {
    background-color: transparent;
    box-shadow: 0 0 black;
}

.mat-app-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lang-select {
    width: 50px;
    margin-left: 10px;
}

.collapsed-navbar {
    padding-left: 2rem;
}

.menu-description {
    display: inline;
    font-size: 17px;
    padding-left: 1rem;
    color: white;
}

.dark-mode-picker {
    vertical-align: middle;
}

.nav-link {
    cursor: pointer;
}

.theme-change {
    margin-left: 15px;
    padding-top: 15px;
}

.sun-icon {
    stroke-width: 1px;
    margin-right: -3px
}

.moon-icon {
    stroke-width: 1px;
    margin-left: 2px;
}

.nav-link {
    padding-top: 11px;
}

.theme-change-mobile {
    padding-bottom: 20px;
}

.profile-menu {
    padding-right: 13px;
}
