<div class="container" *ngIf="!loading">
    <div *ngIf="imageData | async as imageData">

        <mat-card class="example-card">
            <div class="d-flex header" *ngIf="userProfile | async as userProfile">
                <img mat-card-avatar class="example-header-image" src="{{userProfile.profilePictureThumbnailUrl}}" (click)="onProfilePictureClick()">
                <div class="title-nickname mr-auto p-2">
                    <div class="title">{{imageData.title}}</div>
                    <a class="nickname" href={{profileHref}}>
                        <p>@{{userProfile.nickname}}</p>
                    </a>
                </div>
                <div class="p-2">
                    <i-feather name="map-pin" class="big-icon" style="color: black;"></i-feather>
                </div>
                <div class="subtitle p-2">
                    <p class="font-weight-normal text-right">{{imageData.location}}</p>
                </div>
            </div>
            <img mat-card-image src="{{imageData.imageUrl}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{imageData.title}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{cuttedDescription}}...
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="description">{{imageData.description}}</p>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="font-weight-bold">{{"Telescope"| translate}}</p>
                        </div>
                        <div class="col-sm-9">
                            <p>{{imageData.telescope}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="font-weight-bold">{{"Mount"| translate}}</p>
                        </div>
                        <div class="col-sm-9">
                            <p>{{imageData.mount}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="font-weight-bold">{{"Exposure"| translate}}</p>
                        </div>
                        <div class="col-sm-9">
                            <p>{{imageData.exposureTimes}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="font-weight-bold">{{"Camera"| translate}}</p>
                        </div>
                        <div class="col-sm-9">
                            <p>{{imageData.camera}}</p>
                        </div>
                    </div>
                </mat-expansion-panel>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button>{{"Like"| translate}}</button>
            </mat-card-actions>
        </mat-card>
        <div class="comment" *ngIf="loggedIn">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
                <mat-form-field class="form-element">
                    <textarea matInput placeholder="{{'commentText' | translate}}" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5" formControlName="commentText"></textarea>
                    <mat-error *ngIf="!formGroup.controls['commentText'].valid && formGroup.controls['commentText'].touched">
                        {{'Maximum' | translate}} 1000 {{'Chars' | translate}}
                    </mat-error>
                </mat-form-field>
                <div class="form-element">
                    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">{{'Comment' | translate}}</button>
                </div>
            </form>
        </div>
        <div class="comments">
            <app-image-comment [imageId]="imageData.id" [commentAdded]="commentAdded"></app-image-comment>
        </div>
    </div>
</div>

<div class="container loader" *ngIf="loading">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
</div>