.expansion-panel {
    box-shadow: none;
}

.description {
    margin-bottom: 35px;
}

.header {
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.big-icon {
    stroke-width: 1px;
}

.container {
    margin-top: 10px;
}

.mat-card-header-text {
    margin: 0;
}

.example-header-image {
    margin-top: 7px;
    cursor: pointer;
}

.form-element {
    width: 100%;
}

.comment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.example-card {
    margin-bottom: 10px;
}