.example-full-width {
    width: 100%;
}

.conversation-name {
    display: inline;
    padding-left: 10px;
    font-size: 15px;
}

.conversation-avatar {
    display: inline;
}

.mat-card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.user-list {
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}
