<div class="container" *ngIf="!post" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
        <div class="row">
            <div class="col-md">
                <div class="text-center profilePictureWrapper">
                    <img src="{{profilePictureUrl | async}}" alt="" class="profilePicture img-fluid  rounded" (click)="editProfilePicture()">
                    <div class="overlay"></div>
                    <button mat-raised-button class="button btn-edit" color="primary" (click)="editProfilePicture()">{{'EditPhoto' | translate}} </button>
                </div>
            </div>
            <div class="col-md">
                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'Nickname' | translate}}" formControlName="nickname">
                    <mat-error *ngIf="!formGroup.controls['nickname'].valid && formGroup.controls['nickname'].touched">
                        {{'Required' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'Name' | translate}}" formControlName="name">
                    <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                        {{'Required' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'Lastname' | translate}}" formControlName="lastName">
                    <mat-error *ngIf="!formGroup.controls['lastName'].valid && formGroup.controls['lastName'].touched">
                        {{'Required' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'Country' | translate}}" formControlName="country">
                    <mat-error *ngIf="!formGroup.controls['country'].valid && formGroup.controls['country'].touched">
                        {{'Required' | translate}}
                    </mat-error>
                </mat-form-field>
                <div class="form-element">
                    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">{{'Save' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<ng-template #loggedOut>
    Please login.
</ng-template>
