.container {
    padding: 10px;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
}

.big-icon {
    height: 100px;
    width: 100px;
    stroke-width: 1px;
}

::ng-deep .editImageDialog>mat-dialog-container {
    max-height: 100vh;
}
