.row {
    margin-left: 0;
    margin-right: 0;
}

img {
    object-fit: cover;
    cursor: pointer;
}

.img-wrapper {
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-hover-zoom img {
    overflow: hidden;
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: blur(4px);
    filter: brightness(50%)
}

h1 {
    opacity: 0;
    transition: opacity .5s ease;
}

.img-hover-zoom:hover h1 {
    opacity: 1;
}

.circle-icon {
    width: 100px;
    height: 100px;
    stroke-width: 1px;
    display: block;
    margin: auto;
}

.no-images {
    display: block;
}
